.user-info
  .user-info__left
    =render 'shared/left_side_bar'
  .user-info__center
    .show-contents.show
      .show-contents__title
        %h2
          =@genre.name
      .user-posts
        -@relationships.each do |relationship|
          =render 'shared/post_list',{post: relationship.post}
  .user-info__right
    =render 'shared/right_side_bar', {"@user": current_user}
