.input-page
  .input-form
    .input-form__title
      %h1 Login page
    .input-form__template
      =form_with scope: :session, url: login_path, local: true do |f|
        .form.form-name
          .form.form-email
            =f.label :email
            =f.email_field :email,class:"text-field"
          .form.form-password
            =f.label :password
            =f.password_field :password,class:"text-field"
          .form.form-submit
            =f.submit "送信" 
          .easy-login
            =link_to "お試しログイン", easy_login_path, method: :post
