$opacity-black: rgba(0,0,0,0.8);
// $greyTowhite: radial-gradient(grey, white);
// $opacity-grey:rgba(255,255,255,0.6);


$nomal-bg : rgb(21,32,43);
$partial-bg: rgb(25, 39, 52);
$border-color: 1px solid lightgrey;
$items-radius: 25px;

$left-items-width: 250px;
$left-items-margin: 20px 0 50px 50px;

$right-items-height :400px;
$right-items-width :300px;
$right-items-margin: 20px 50px 50px 20px; 


