=form_with url: post_comments_path(@post) , local: true do |f|
  =f.text_area :content, placeholder: "コメントを入力してください"
  = hidden_field_tag :user_id, current_user.id
  = button_tag type: 'submit', class: "comment-btn" do
    = icon("far","paper-plane")