@mixin news_link_btn{
  .bbc{
    background-color: red;
    a{
      color: white;
    }
  }
  .wsj{
    background-color: white;
    border: 1px solid black;
    a{
      color: black;
    }
  }
  .yahoo{
    background-color: white;
    border: 1px solid red;
    a{
      color: red;
    }
  }
  .nhk{
    background-color: skyblue;
    a{
      color: white;
    }
  }
  .goal{
    background-color: navy;
    a{
      color: white;
    }
  }
  .soccer-king{
    background-color: yellow;
    a{
      color: black;
    }
  }
  .news-link-btn{
    margin:10px auto;
    height: 50px;
    width: 300px;
    border-radius: 5%;
    line-height: 50px;
    text-align: center;
    a{
      display: block;
      font-size: 20px;
      font-weight: bold;
    }
    a:hover{
      opacity: 0.3;
    }
  }
}

@mixin page-title{
  width: 100vw;
  font-size: 60px;
  font-weight: bold;
  text-align: center;
  padding: 20px 0;
}

@mixin follow-btn-color{
  .list-btn{
    color: white;
    padding: 5px;
    border-radius: 25px;

  }
  .follow-btn{
    background-color: skyblue;
  }
  .unfollow-btn{
    background-color: grey;
  }
}