// news_mixins---------------------------------
@mixin news_link_btn{
  .bbc{
    background-color: red;
  }
  .wsj{
    background-color: white;
    border: 1px solid black;
    a{
      color: black;
    }
  }
  .yahoo{
    background-color: white;
    border: 1px solid red;
    a{
      color: red;
    }
  }
  .nhk{
    background-color: skyblue;
  }
  .news-link-btn{
    margin: 20px auto;
    height: 50px;
    width: 200px;
    border-radius: $items-radius;
    line-height: 50px;
    text-align: center;
    a{
      display: block;
      font-size: 20px;
      font-weight: bold;
    }
    a:hover{
      opacity: 0.3;
    }
  }
}

// button-mixins------------------------
@mixin follow-btn-color{
  .list-btn{
    display: block;
    color: white;
    padding:5px 10px;
    border: none;
    border-radius: 25px;

  }
  .follow-btn{
    background-color: skyblue;
  }
  .unfollow-btn{
    background-color: grey;
  }
}

@mixin like-btn{
  .like-display{
    display: flex;
    line-height:20px;
    text-align: center;
    button{
      font-size: 20px;
      line-height: 20px;
      border: 0px;
      margin-left: 200px;
      appearance: none;
      outline: none;
    }
    .unlike-btn{
      color: red;
    }
  }
}

// user-list-----------------------
@mixin user-list-image-size{
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

@mixin user-list-font{
  display: block;
  width: 150px;
  line-height: 50px;
  padding-left: 10px;
}

// seperated-pages-mixins---------------------------
@mixin page-title{
  width: 100vw;
  color: white;
  font-size: 60px;
  font-weight: bold;
  text-align: center;
  padding: 20px 0;
}

@mixin items-title{
  font-size: 20px;
  padding: 10px;
  border-bottom: $border-color;
}

@mixin page-default-layout{
  display: flex;
  background-color: $normal-bg;
  color: white;
  padding-top: 50px;
}

@mixin left-total-layout{
  width: 25%;
  padding-left: 30px;
  flex-direction: column;
  text-align: center;
  border-top: $border-color;
}

@mixin left-items-box{
  width: $left-items-width;
  border-radius: $items-radius;
  margin: $left-items-margin;
  padding-bottom: 10px;
  background-color: $partial-bg;
}

@mixin center-total-layout{
  width: 50%;
  background-color: $normal-bg;
  border: $border-color;
  text-align: center;
  overflow: scroll;
}

  @mixin center-contents-title{
    font-size: 50px;
    padding: 20px;
    border-bottom:$border-color ;
  }

  @mixin right-total-layout{
    width: 25%;
    border-top: $border-color;
  }
  
  @mixin right-items-box{
    background-color:$partial-bg;
    height: $right-items-height;
    width: $right-items-width;
    border-radius: $items-radius;
    margin:$right-items-margin;
    text-align: center;
    overflow: scroll;
  }