=provide(:page_title, "TOP")
=render 'shared/header'
=render 'shared/side_bar'
-if user_login?
  =render 'posts/posts_index'
- else
  .signup-user-page
    %h1 Output your reviews
    %p ニュースの学びにアウトプットを
    .links
      =link_to "ユーザ登録", new_user_path
      =link_to "ログイン", login_path
      =link_to "お試しログイン", easy_login_path, method: :post

    