.users-index
  %h2 ユーザー一覧
  -@users.each do |user|
    .user-contents
      .users-list
        .users-list__image
          =image_tag user.picture.url
        .users-list__name
          =link_to "#{user.name}", user_path(user)
        .users-list__btn
          =follow_unfollow?(user)
      .user-profile
        = simple_format user.profile
