.users-index
  .users-index__left
    =render 'shared/left_side_bar', "@user": current_user
  .users-index__center
    .user-contents
      .contents-title
        %h2 All Users
      -@users.each do |user|
        .user-content
          .user-content-upper
            .user-content-upper__left
              .user-image
                =image_tag user.picture.url
            .user-content-upper__right
              .user-name
                =link_to "#{user.name}", user_path(user)
              .follow-unfollow-btn
                =follow_or_unfollow_btn?(user)
          .user-content-bottom
            = simple_format user.profile

  .users-index__right
    =render 'shared/right_side_bar', "@user": current_user
