.user-info
  .user-info__left
    =render 'shared/left_side_bar'
  .user-info__center
    .show-contents__title
      %h2
        =@user.name
    .user-profile
      .user-profile__left
        .user-picture
          = image_tag @user.picture.url 
        .user-name
          = @user.name
        .follow_unfollow_btn
          =follow_or_unfollow_btn?(@user)
      .user-profile__right
        %p
          = simple_format @user.profile
    .menu-items
      .menu-item.active
        %div 
          %p
            ユーザー投稿
      .menu-item
        %div
          %p
            いいね一覧          
    .show-contents.show
      .user-posts
        -@posts.each do |post|
          =render 'posts/post_list',{post: post}
    .show-contents
      .user-posts
        -@likes.each do |like|
          =render 'posts/post_list',{post: like.post}
  .user-info__right
    =render 'shared/right_side_bar' 
  
