.user-info
  .user-info__left
    =render 'shared/left_side_bar'
  .user-info__center
    .user-profile
      .user-profile__left
        .user-picture
          = image_tag @user.picture.url 
        .user-name
          = @user.name
        .follow_unfollow_btn
          =follow_unfollow?(@user)
      .user-profile__right
        %p
          = simple_format @user.profile
    .show-contents
      =render 'posts/post'
  .user-info__right
    =render 'shared/right_side_bar'


-# .show-likelist
-#   =render 'posts/liked_post'
    
  
