.user-info
  .user-info__left
    =render 'shared/left_side_bar'
  .user-info__center
    .user-profile
      .user-profile__left
        .user-picture
          = image_tag @user.picture.url 
        .user-name
          = @user.name
        .follow_unfollow_btn
          =follow_or_unfollow_btn?(@user)
      .user-profile__right
        %p
          = simple_format @user.profile
    .show-contents
      .user-posts
        -@posts.each do |post|
          =render 'posts/post_list',{post: post}
  .user-info__right
    =render 'shared/right_side_bar' 
  
