=provide(:page_title, "コメント一覧")
=render 'shared/header'
.account-page
  .user-data
    .user-data__image
      = image_tag @user.picture.url
    .user-data__username
      =@user.name
    .user-data__follower
      =render 'follow_link'
    .user-data__btn
      -unless current_user?(@user)
        -if @current_user.following?(@user)
          =render 'unfollow_btn'
        -else
          =render 'follow_btn'
    .admin-btn
      - if current_user.admin? && !current_user?(@user) 
        =link_to "アカウント削除", user_path, method: :delete, data: {confirm: "削除してよろしいですか？"}
    .user-data__topics
      %h2 Pickup Topics
      %ul
        %li コロナウイルス
        %li オリンピック
        %li プレミアリーグ

  =render 'posts/posts_show'
    
  
