.input-page
  .input-form
    .input-form__content
      .input-form__title
        %h1 
          = yield(:title)
      .input-form__template
        =form_with model:@user, local: true do |f|
          = render 'shared/user_errors_messages'
          .form.form-name
            =f.label :name
            =f.text_field :name,class:"text-field"
          .form.form-email
            =f.label :email
            =f.email_field :email,class:"text-field"
          .form.form-password
            =f.label :password
            =f.password_field :password,placeholder: "８文字以上",class:"text-field"
          .form.form-comfirmation
            =f.label :password_confirmation
            =f.password_field :password_confirmation,class:"text-field"
          .form.form-profile
            =f.label :profile
            =f.text_area :profile ,placeholder: "プロフィールを記入してください"
          .form.form-picture
            =f.label "picture (任意)"
            =f.file_field :picture, class: "file-field"
          .form.form-submit
            =f.submit "送信" 
          .form.form-delete
          - if user_login?
            -unless @current_user.admin?
              =link_to "アカウント削除はこちら", user_path(@user), method: :delete, data: {confirm: "削除してよろしいですか？"}