.header
  .header__title
    = link_to 'Learn From Experiences', '#'
  .header__options
    %ul.options-list
      %li.user-page
        =link_to "My account", "#"
      %li.about
        =link_to "About", "#"
      %li.Login
        =link_to "Login", "#"