.links
  .links__title
    %h2 Links
  .links__options
    %ul.options-list
      %li
        =link_to "Top", root_path
      %li
        =link_to "All Users", users_path
      %li
        =link_to "Post", new_post_path
      %li
      %li
        =link_to "Edit", edit_user_path(@current_user)
      %li
        =link_to @current_user.name, user_path(@current_user)
      %li
        =link_to "Logout", logout_path,{method: :delete}

.links
  .links__title
    %h2 Genres
  .links__options
    %ul.options-list
      %li
        =link_to "経済", genre_path(1)
      %li
        =link_to "ビジネス", genre_path(11)
      %li
        =link_to "政治", genre_path(21)
      %li
        =link_to "マネー", genre_path(31)
      %li
        =link_to "スポーツ", genre_path(41)
      %li
        =link_to "海外", genre_path(51)
      %li
        =link_to "その他", genre_path(61)
        
-# .news-links
-#   .news-links__title
-#     %h2  News Links
-#   .news-link-btn.bbc
-#     =link_to "BBC", news_bbc_path
-#   .news-link-btn.wsj
-#     =link_to "WSJ", news_wsj_path
-#   .news-link-btn.yahoo
-#     =link_to "Yahoo!", news_yahoo_path
-#   .news-link-btn.nhk
-#     =link_to "NHK", news_nhk_path

.news-box