.main-page
  .main-page__sidebar
    -# %h1 Find Your Book！
    .topics
      %h2 
        Experiences 
        %br 
        of 
        %br 
        Infection
      .topic
        =link_to "スペイン風邪", "#"
      .topic
        =link_to "Sars", "#"
      .topic
        =link_to "Mars", "#"
      .topic
        =link_to "ペスト", "#"

    .topics
      %h2 
        Experiemces
        %br
        of
        %br
        Orinpic
      .topic
        =link_to "日韓オリンピック", "#"
      .topic
        =link_to "ロンドンオリンピック", "#"
      .topic
        =link_to "北京オリンピック", "#"
      .topic
        =link_to "オリンピック後の経済", "#"

  .main-page__center
    .top
      .top__news
        = link_to "<特集＞コロナウイルス終息へ", "#"
        %p 日本○○新聞
    .main-contents
      .main-content.content1
        =link_to "特集", "#"
      .main-content.content2
        =link_to "Covid-19", "#"
      .main-content.content3
        =link_to "Orinpic", "#"
      .main-content.content4
        =link_to "国内", "#"
      .main-content.content5
        =link_to "海外", "#"
      .main-content.content6
        =link_to "Business", "#"
      .main-content.content7
        =link_to "Enviroment", "#"
      .main-content.content8
        =link_to "LifeStyle", "#"
      .main-content.content9
        =link_to "Sports", "#"

      
    .main-info
      %p Produced by Nobuyuki Kanazawa
      .my-links
        =link_to  "Twitter", "#", class: "twitter"
        =link_to "Facebook", "#", class: "Facebook"
        =link_to "Instagram", "#", class: "instagram"
