.user-posts
  .user-posts__title
    %h2
      =yield(:page_title)
  .user-posts__content
    .fixed-data
      .post-user-image
      .postuser-name
        =@user.name
      .post-date
        2019/04/03/00:00:00
    .post
      これは非常に参考になる記事です！wwwwwwwwwwwwwwwwwwwwwwwww
