.follow-list
  .follow-list__title
    %h2 
      ="Follow #{@user.followings.count}"
  -@user.followings.each do |following|
    .follow-list__flex
      = render 'shared/users_list',{listed_user: following}
.follow-list
  .follow-list__title
    %h2
      ="Follower #{@user.followers.count}"
  -@user.followers.each do |follower|
    .follow-list__flex
      = render 'shared/users_list',{listed_user: follower}