.follow-list
  .follow-list__titles
    .menu-title.active-follow
      %div 
        %h2
          ="Follow #{@user.followings.count}"
    .menu-title
      %div
        %h2
          ="Follower #{@user.followers.count}"
  .list-content.show-follow
    -@user.followings.each do |following|
      .follow-list__flex
        = render 'shared/users_list',{listed_user: following}
  .list-content
    -@user.followers.each do |follower|
      .follow-list__flex
        = render 'shared/users_list',{listed_user: follower}