.follow-list
  .follow-list__title
    %h2 
      ="Follow #{@user.followings.count}"
  -@user.followings.each do |following|
    .follow-list__flex
      =render partial: 'shared/follow_list', locals:{follow: following}
.follow-list
  .follow-list__title
    %h2
      ="Follower #{@user.followers.count}"
  -@user.followers.each do |follower|
    .follow-list__flex
      =render partial: 'shared/follow_list', locals:{follow: follower}