.user-data-links
  = render partial: 'shared/right_side_bar_follow', locals:{user: @user }

.like-list
  =render partial: 'shared/like_user_list', locals: { post: @post }

.news-links
  .news-links__title
    %h2  News Links
  .news-link-btn.bbc
    =link_to "BBC", news_bbc_path
  .news-link-btn.wsj
    =link_to "WSJ", news_wsj_path
  .news-link-btn.yahoo
    =link_to "Yahoo!", news_yahoo_path
  .news-link-btn.nhk
    =link_to "NHK", news_nhk_path
