.user-data-links__title
  %h2 User Data
  .links__options
    %ul.option-list
      %li
        =link_to "Follow #{user.followings.count}","#"
      %li
        =link_to "Follower #{user.followers.count}","#"
      %li
        =link_to @current_user.name, user_path(@current_user)
-# .list-content.show-follow
-#   -user.followings.each do |following|
-#     .follow-list__flex
-#       = render 'shared/users_list',{listed_user: following}
-# .list-content
-#   -user.followers.each do |follower|
-#     .follow-list__flex
-#       = render 'shared/users_list',{listed_user: follower}