.user-image
  = image_tag listed_user.picture.url
.user-name
  =link_to "#{listed_user.name}", user_path(listed_user)
.follow_unfollow_btn
  %div{id:"follow_btn_#{listed_user.id}"}
    =render 'shared/follow_btn',{ user: listed_user}