.news-index
  .news-index__left
    =render 'shared/left_side_bar',"@user": current_user
  .news-index__center
    .news-contents
      .contents-title
        %h1
          = yield(:page_title)
      -@moments.each do |moment|
        .news-content
          .news-content__image
            =image_tag src="#{moment['urlToImage']}", alt: 'リンク先の画像です', height: '200px', width: '300px'
          .news-content__title
            =link_to "#{moment['title']}","#{moment['url']}"
  .news-index__right  
    =render 'shared/right_side_bar',"@user": current_user