.input-page{
  @include page-default-layout;
  margin: 0 auto;
  .input-form{
    @include center-total-layout;
    &__title{
      @include center-contents-title;
    }
    &__content{
      padding: 40px;
      .form-div{
        display: flex;
        flex-direction: column;
        text-align: left;
        margin: 30px 0;
        input{
          width: 100%;
        }
        textarea{
          resize: none;
          height: 200px;
        }
        .file-field{
          background-color: white;
          color: grey;
        }
        a{
          font-size: 20px;
          margin: 5px 0;
        }
      }
      .form-checkbox{
        input{
          width: 10px;
        }
        label{
          margin-right: 10px;
        }
      }
      .form-submit{
        margin-top: 50px;
      }
    }
  }
}