.input-page{
  height: 100vh;
  background-color: $normal-bg;
  .input-form{
    @include center-total-layout;
    height: 100%;
    margin: 0 auto;
    text-align: unset;
    background-color: $partial-bg;
    &__title{
      @include page-title;
      @include center-contents-title;
      width:100%;
    }
    &__template{
      width:500px;
      color: white;
      padding-top: 20px;
      margin: 0 auto 50px auto;
      #errors_list{
        color: red;
        background-color: white;
        border-radius: 15px;
        text-align: center;
        margin: 30px;
      }
      .form{
        display: flex;
        padding: 10px;
        line-height: 30px;
        flex-direction: column;
        vertical-align: middle;
        font-size: 20px;
        select{
          height: 40px;
          width: 500px;
          padding: 10px;
        }
        textarea{
          height: 200px;
          width: 500px;
          resize: none;
        }
        input{
          width: 500px;
        }
      }
      .form-picture{
        .file-field{
          width: 500px;
          background-color: white;
        }
      }
      .form-submit{
        input{
          width: 500px;
          margin-top: 20px;
          background-color: grey;
          color: white;
          border-radius: 5px;
        }
      }
      .easy-login{
        a{
          color: black;
          border-bottom: 1px solid black ;
        }
      }
    }
  }
}
