.header{
  background-color: black;
  height: 70px;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  z-index: 10;
  &__title{
    height:40px;
    width: 700px;
    margin-left: 30px;
    display: flex;
    line-height: 40px;
    color: white;
    p{
      margin-left: 23px;
    }
    a{
      font-size: 25px;
      font-weight: bold;
      color: white;
    }
  }
  &__options{
    height: 40px;
    width: 300px;
    margin-right: 50px;
    .options-list{
      display: flex;
      a{
        color: white;
        margin-left: 20px;
        line-height: 40px;
      }
    }
  }
}