.links{
  @include left-items-box;
  &__title{
    @include items-title;
  }
  &__options{
    li{
      a{
        margin: 10px auto;
        display: block;
        width: 200px;
        padding: 10px;
        border:$border-color;
        border-radius: $items-radius;
      }
      a:hover{
        opacity: 0.7;
      }
    }
  }
}

.news-links{
  @include left-items-box;
  @include news-link_btn;
  &__title{
    @include items-title
  }
}
.news-box__bbc{
  height: 400px;
  display: none;
}
.news-box__wsj{
  height: 400px;
  display: none;
}
.news-box__yahoo{
  height: 400px;
  display: none;
}
.news-box__nhk{
  height: 400px;
  display: none;
}
.news-box__goal{
  height: 400px;
  display: none;
}
.news-box__soccer-king{
  height: 400px;
  display: none;
}