.news-links{
  display: flex;
  width: 100vw;
  @include news-link_btn;
<<<<<<< HEAD
}

.news-box__bbc{
  height: 400px;
  display: none;
}
.news-box__wsj{
  height: 400px;
  display: none;
}
.news-box__yahoo{
  height: 400px;
  display: none;
}
.news-box__nhk{
  height: 400px;
  display: none;
}
.news-box__goal{
  height: 400px;
  display: none;
}
.news-box__soccer-king{
  height: 400px;
  display: none;
=======
>>>>>>> 88427ec715daa1d145e464d5becc541380137a90
}