.user-data-links{
  @include right-items-box;
  &__title{
    h2{
      @include items-title;
    }
  }
}

.like-list{
  @include right-items-box;
  height: 70vh;
  h2{
    @include items-title;
  }
  &__flex{
    display: flex;
    align-items: center;
    .user-image{
      img{
        @include user-list-image-size;
      }
    }
    .user-name{
      text-align: left;
      overflow: hidden;
      a{
        @include user-list-font;
      }
    }
    .list-btn{
      width: 80px;
      font-size: 10px;
    }
    @include follow-btn-color
  }
}

.news-links{
  @include right-items-box;
  @include news-link_btn;
  &__title{
    @include items-title
  }
  }
  .news-box__bbc{
    height: 400px;
    display: none;
  }
  .news-box__wsj{
    height: 400px;
    display: none;
  }
  .news-box__yahoo{
    height: 400px;
    display: none;
  }
  .news-box__nhk{
    height: 400px;
    display: none;
  }
  .news-box__goal{
    height: 400px;
    display: none;
  }
  .news-box__soccer-king{
    height: 400px;
    display: none;
  }