.side-contents{
  height: 100vh;
  width: 25%;
  background-color: black;
  position: fixed;
  left: 0;
  color: white;
  padding-top: 25px;
  text-align: center;
  .side-title{
    border-radius: 5%;
    margin: 20px 10px 40px 10px;
  }
  .side-content{
    margin:20px auto;
    height: 50px;
    width: 300px;
    border-radius: 5%;
    line-height: 50px;
    text-align: center;
    a{
      display: block;
      font-size: 20px;
      font-weight: bold;
      color: white;
    }
    a:hover{
      opacity: 0.3;
    }
  }
  .top{
    border: 1px solid white;
  }
  .topic{
    border: 1px solid white;
  }
  .bbc{
    background-color: red;
  }
  .wsj{
    background-color: white;
    a{
      color: black;
    }
  }
  .yahoo{
    background-color: white;
    a{
      color: red;
    }
  }
  .nhk{
    background-color: skyblue;
  }
  .goal{
    background-color: navy;
  }
  .soccer_king{
    background-color: yellow;
    a{
      color: black;
    }
  }
}