*{
  box-sizing: border-box;
  a{
    text-decoration: none;
    color: white;
  }
}

.flash{
  margin: 0 auto 0 auto;
  text-align: center;
  .succsess{
    background-color: skyblue;
    color: white;
  }
  .alert{
    background-color: red;
    color: white;
  }
}