.user-posts
  .user-posts__title
    %h2
      =yield(:page_title)
  -@posts.each do |post|
    .user-posts__content
      .user-image
        = image_tag post.user.picture.url
      .content-flex
        .fixed-data
          .fixed-data__name
            =link_to "#{post.user.name}", user_path(post.user)
          .fixed-data__right
            =post.created_at
            =link_to "Delete", post_path(post), {method: :delete}
        .posted-item
          .url
            %p URL：
            =link_to "#{post.url}", post.url, target: :blank
          .genre
            =link_to "ジャンル：#{post.genre}","#"
          .post
            =simple_format(post.content)