.user-posts
  .user-posts__title
    %h2
      =yield(:page_title)
  -@user.posts.each do |post|
    .user-posts__content
      .user-image
      .content-flex
        .fixed-data
          .fixed-data__name
            =post.user.name
          .fixed-data__genre
            ="ジャンル：#{post.genre}"
          .fixed-data__date
            =post.created_at
        .posted-item
          .url
            %p URL
            =link_to "#{post.url}", post.url, target: :blank
          .post
            =post.content
