=provide(:page_title, "TOP")
-if user_login?
  .user-info
    .user-info__left
      =render 'shared/left_side_bar'
    .user-info__center
      .show-contents.show
        .show-contents__title
          %h2
            TOP
        .user-posts
          -@posts.each do |post|
            =render 'posts/post_list',{post: post}

    .user-info__right
      =render 'shared/right_side_bar'
- else
  .top-page
    .top-page__top
      %h1 Output your reviews
      %p ニュースの学びにアウトプットを
      .top-links
        =link_to "ユーザ登録", new_user_path
        =link_to "ログイン", login_path
        =link_to "お試しログイン", easy_login_path, method: :post

    .top-page__center
      %h2 What you can do on this web site?
      .intro-contents
        .intro-contents__content
          .intro-title
            %h3 国内外のニュースサイトへアクセス！ 
          .intro-info
            %p BBC、WSJ、NHKなど、世界の主要ニュースサイトをピックアップ！広すぎず、狭すぎない、効果的なインプットを！
          .intro-images.intro-image-left
        .intro-contents__content
          .intro-title
            %h3 投稿機能で気になるニュースをシェア
          .intro-info
            %p ジャンル、URLとともにニュースをシェア。自分の意見を添えて、ニュースに関する考えをアウトプットしましょう！
          .intro-images.intro-image-center
        .intro-contents__content
          .intro-title
            %h3 その他機能の紹介(随時アップデート)
          .intro-info
            %p フォロー機能
            %p いいね機能
            %p 投稿へのコメント機能
          .intro-images.intro-image-right
