=render 'shared/header' 
.input-page
  = form_with model: @post, local: true do |f|
    .input-form
      .input-form__title
        %h1 New Post
      .input-form__template
        =render 'shared/post_errors_messages'
        .form
          =f.label "ジャンル"
          =f.select :genre ,Post.genres.keys.to_a, class:"select-form"
          =f.label "投稿内容"
          =f.text_area :content ,placeholder: "投稿を記入してください"
          =f.label "サイトURL"
          = f.text_field :url, placeholder: "共有するサイトURLを記入してください"
        .form-submit
          = f.submit "投稿"