.news-index{
  @include page-default-layout;
  &__left{
    @include left-total-layout;
  }
  &__center{
    @include center-total-layout;
    // overflow: scroll;
    .news-contents{
      .contents-title{
        @include center-contents-title;
      }
      .news-content{
        background-color: $partial-bg;
        margin: 5px;
        padding: 10px;
        &__image{
          height: 200px;
          width: 300px;
          color: rgba(0,0,0,0);
          border-radius: $items-radius;
          background-image: url(top.jpg);
          background-size: 100%;
          margin: 0 auto;
          img{
            border-radius: $items-radius;
          }
        }
        &__title{
          width:400px;
          font-size: 20px;
          text-align: left;
          margin: 0 auto;
        }
      }
    }
  }
  &__right{
    @include right-total-layout
  }
}
