.news-contents{
  height: 100vh;
  width: 100vw;
  padding-bottom: 100px;
  display: flex;
  flex-wrap: wrap ;
  justify-content: center;
  overflow: scroll;
  h1{
    width: 100vw;
    font-size: 80px;
    font-weight: bold;
    text-align: center;
    padding: 30px;
  }
  .news-content{
    border: 1px solid black;
    width: 300px;
    &__image{
      height: 200px;
      color: rgba(0,0,0,0);
      background-image: url('top.jpg');
      img{
        width: 298px;
      }
    }
    &__title{
      height: 150px;
      a{
        display: block;
        height: 150px;
        font-size: 20px;
        font-weight: bold;
        color: black;
      }
      padding: 5px;
    }
    &__link{

      background-color: white;
      padding: 5px;
      a{
        width: 350px;
        display: block;
        color: grey;
        font-size: 15px;
        padding-right: 15px;
      }
    }
  }
}

