.user-posts{
  height: 100vh;
  width: 75%;
  padding: 40px;
  color: white;
  background-image: url("comment.jpg");
  background-size: 100%;
  position: fixed;
  right: 0;
  overflow: scroll;
  &__title{
    font-size: 50px;
    padding-bottom: 20px;
  }
  &__content{
    width: 600px;
    display: flex;
    flex-direction: column;
    margin: 0 30px 30px 50px;
    background-color: rgba(0,0,0,0.7);
    .fixed-data{
      display: flex;
      align-items: center;
      .post-user-image{
        height: 50px;
        width: 50px;
        border-radius: 50%;
        background-image: url('corona.jpg');
        margin-right: 20px;
      }
      .post-user-name{
        font-size: 15px;
        font-weight: bold;
      }
      .post-date{
        height: 12px;
        font-size: 12px;
        margin-left: 10px;
        color: grey;
    }
    }
    .post{
      font-size: 15px;
      margin-left: 70px;
    }
    .url{
      display: flex;
      margin-left: 70px;
      p{
        margin-right: 10px;
      }
      a{
        color: white;
        border-bottom: 1px solid rgba(255,255,255,0.6);
      }
    }
  }
}

.post-create{
  height: calc(100vh - 70px);
  width: 100vw;
  color: white;
  background-image: url("new_post.jpg");
  background-size: 100%;
  padding-top: 70px;
  &__form{
    background-color: rgba(255,255,255,0.6);
    border-radius: 50px;
    height: 100%;
    width: 600px;
    padding: 30px;
    width: 800px;
    margin: 0 auto;
    .title{
      font-size: 70px;
      color: black;
      text-align: center;
    }
    .form{
      display: flex;
      flex-direction: column;
    }
  }
}
