.user-posts{
  height: calc(100vh - 70px);
  width: calc(100vw - 350px);
  background-image: url('top.jpg');
  background-size: 100%;
  color: white;
  padding: 20px;
  position: fixed;
  right: 0;
  &__title{
    width: calc(100vw - 350px);
    font-size: 50px;
    font-weight: bold;
  }
  &__content{
    // border: 1px solid white;
    display: flex;
    padding: 10px;
    background-color: rgba(0,0,0,0.8);
    .user-image{
      img{
        height: 90px;
        width: 90px;
        border-radius: 10px;
        background-color: grey;
      }
    }
    .content-flex{
      margin-left: 15px;
      .fixed-data{
        display: flex;
        height: 40px;
        &__name{
          font-size: 20px;
          line-height: 40px;
          margin-right: 20px;
        }
        &__genre{
          line-height: 40px;
          margin-right: 30px;
        }
        &__date{
          font-size: 15px;
          line-height: 40px;
          color:#eeeeee ;
        }
      }
      .posted-item{
        .url{
          display: flex;
          a{
            color: red;
            border-bottom: 1px solid red;
            margin-left: 15px;
          }
        }
        .post{
          padding: 10px 0;
        }
      }
    }
  }
}

.post-create{
  height: calc(100vh - 70px);
  width: 100vw;
  color: white;
  background-image: url("new_post.jpg");
  background-size: 100%;
  padding-top: 70px;
  &__form{
    background-color: rgba(255,255,255,0.6);
    border-radius: 50px;
    height: 100%;
    width: 600px;
    padding: 30px;
    width: 800px;
    margin: 0 auto;
    .title{
      font-size: 70px;
      color: black;
      text-align: center;
    }
    .form{
      display: flex;
      flex-direction: column;
    }
  }
}
