.signup{
  height: 100vh;
  padding-top: 120px;
  background-color: #eeeeee;
  &__title{
    width: 800px;
    font-size: 70px;
    text-align: center;
    color: black;
    margin: 0 auto 0 auto;
  }
  &__form{
    width:500px;
    margin: 0 auto;
    padding-top: 20px;
    #errors_list{
      color: red;
    }
    .form{
      display: flex;
      flex-direction: column;
      line-height: 40px;
      input{
        width: 500px;
      }
    }
    .form-submit{
      input{
        margin-top: 40px;
        background-color: grey;
        color: white;
        border-radius: 5px;
      }
    }
  }
}