.users-index{
  @include page-default-layout;
  &__left{
    @include left-total-layout;
  }
  &__center{
    @include center-total-layout;
    height: 200vh;
    .user-contents{
      .contents-title{
        @include center-contents-title;
      }
      .user-content{
        width: 80%;
        margin: 0 auto;
        padding: 10px;
        border-bottom: 1px solid rgba(255,255,255,0.3);
        word-wrap: break-word;
        .user-content-upper{
          display: flex;
          &__left{
            img{
              margin-right: 20px;
              height: 50px;
              width: 50px;
              border-radius: 25px;
            }
          }
          &__right{
            display: flex;
            align-items: center;
            a{
              font-size: 20px;
              margin-right: 20px;
            }
            .user-name{
              width: 400px;
              text-align: left;
            }
            .follow-unfollow-btn{
              @include follow-btn-color;
              line-height: 15px;
              font-size: 12px;
              .list-btn{
                width: 100px;
              }
            }
          }
        }
        .user-content-bottom{
          text-align: left;
        }
      }
    }
  }
  &__right{
    @include right-total-layout
  }
}

.user-info{
  @include page-default-layout;
  &__left{
    @include left-total-layout;
  }
  &__center{
    @include center-total-layout;
    .user-profile{
      display: flex;
      padding: 20px 0 50px 0;
      border-bottom: $border-color;
      &__left{
        width: 33%;
        .user-picture{
          img{
            height: 200px;
            width: 200px;
            border-radius: 25px;
          }
        }
        .user-name{
          width: 100%;
          font-size: 20px;
          font-weight: bold;
          padding: 5px;
        }
        .follow-links{
          padding-bottom: 5px;
        }
        .list-btn{
          display: block;
          height: 40px;
          width: 150px;
          margin: 0 auto;
        }
        @include follow-btn-color;
      }
      &__right{
        width: 67%;
        height: 300px;
        margin-right: 20px;
        padding: 30px;
        background-color: $partial-bg;
        border-radius: $items-radius;
        p{
          font-size: 15px;
          text-align: left;
          word-wrap: break-word;
        }
      }
    }
    .menu-items{
      width: 100%;;
      display: flex;
      .menu-item{
        width: 50%;
        padding: 15px;
        border: $border-color;
      }
      .menu-item:hover{
        cursor: pointer;
        opacity: 0.7;
      }
      .menu-item.active{
        background-color: $partial-bg;
        p{
          font-weight: bold;
        }
      }
    }
  }

  &__right{
    @include right-total-layout;
  }
}